.tab {
    border: 1px solid;
    border-bottom: none;
    max-width: 160px;
    height: inherit;
    display: inline-block;
    vertical-align: top;
    background-color: rgba(51, 122, 183, 0.72);
    cursor: pointer;
    text-align: center;
}
.date-tab {
    cursor: pointer;
    border: 1px solid black;
    padding: 10px;
}
.tab span {
    font-weight: 700;
	white-space: normal;
}
.tab span:hover {
    color: rgba(0, 0, 0, 0.60)
}
.tab:hover {
    background-color: rgba(15, 22, 114, 0.13);
}
.tab.selected {
    background-color: white;
}
#efimeries-tables {
    height: 280px;
    overflow-y: scroll;
}
#efimeries-tables table {
    display: none;
}
#efimeries-tables .selected {
    display: inline-table;
}
#efimeries-tables tr:not(.pharmacy){
    cursor: pointer;
}
.pharmacy {
    background-color: white;
    width: 850px;
    height: 500px;
}
#district-tabs {
    height: 90px;
}
.date-tabs {
    float: left;
    display: none;
    margin-top: 90px;
    width: 140px;
}
.date-tabs.selected {
    display: block;
}
#efimeries-app {
    width: 897px;
}
.ph-data {
    display: inline-block;
}
.ph-address-wrapper > div {
    display: inline;
    padding: 2px;
}
.ph-tel-wrapper > div {
    display: inline;
    padding: 2px;
}
.ph-name {
    background-color: #9ae272;
    color: rgba(0, 0, 0, 0.60);
}
.hidden-pharmacy {
    display: none;
}
#map {
    width: 787px;
    height: 338px;
    margin-left: 140px;
}
.map {
    width: 350px;
    height: 293px;
}
.ph-map {
    width: 850px;
    height: 350px;
    float: right;
}